@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --default-background-color: rgb(255, 255, 255);
  --default-accent-color: rgb(245, 245, 245);
  --default-text-color: rgb(0, 0, 0);
  --default-secondary-text-color: rgba(0, 0, 0, 0.75);
  --default-semi-transparent-text-color: rgba(0, 0, 0, 0.5);
  --default-border-color: rgba(0, 0, 0, 0.1);
  --default-border-color-solid: rgba(0, 0, 0, 0.2);
  --default-svg-color: rgb(0, 0, 0);
  --default-action-button-color: rgb(240, 240, 240);
}

[data-theme="dark"] {
  --default-background-color: rgb(20, 20, 20);
  --default-accent-color: rgb(30, 30, 30);
  --default-text-color: rgb(255, 255, 255);
  --default-secondary-text-color: rgba(255, 255, 255, 0.75);
  --default-semi-transparent-text-color: rgba(255, 255, 255, 0.5);
  --default-border-color: rgba(255, 255, 255, 0.1);
  --default-border-color-solid: rgba(255, 255, 255, 0.2);
  --default-svg-color: rgb(255, 255, 255);
  --default-action-button-color: rgb(30, 30, 30);

  scrollbar-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.05);
}

*:focus {
    outline: none;
}

html {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: var(--default-accent-color);
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

svg {
    color: var(--default-svg-color);
}

.menu {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-inner {
    width: 300px;
    padding: 30px;
    border-radius: 15px;
    background-color: var(--default-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(28px);
}

.default-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px dashed #4280ef;
}

.image-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container {
    margin-top: 20px;
    width: 260px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    transition-duration: 250ms;
    user-select: none;
}

.description-container:active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
    transition-duration: 250ms;
}

.description-text {
    width: fit-content;
    font-size: 14px;
    opacity: 0.75;
    margin-left: 15px;
}

.inputs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-field {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    transition-duration: 250ms;
}

.input-field:focus {
    outline: none;
    border: 1px solid #4cc6f9;
    background-color: #cbeffd;
    transition-duration: 250ms;
}

.default-button {
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #4280ef;
    color: white;
    font-size: 14px;
    font-weight: 500;
    transition-duration: 250ms;
    cursor: pointer;
}

.default-button:hover {
    box-shadow: 0px 0px 10px rgba(66, 128, 239, 0.5);
}

.default-button:active {
    transform: scale(0.95);
    transition-duration: 250ms;
}

.tables-main-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
}

.tables-inner-container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px auto;
}

.left-header {
    background-color: var(--default-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--default-border-color);
    border-right: 1px solid var(--default-border-color);
    color: var(--default-text-color);
}

.left-main-container {
    background-color: var(--default-background-color);
    border-right: 1px solid var(--default-border-color);
    padding: 20px;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--default-background-color);
    border-bottom: 1px solid var(--default-border-color);
}

.right-main-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.search-field-container {
    width: 220px;
    height: 30px;
    margin-right: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.search-input {
    height: 30px;
    padding-inline: 10px;
    width: 160px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid var(--default-border-color);
    transition-duration: 250ms;
    color: var(--default-text-color);
    background: var(--default-background-color);
}

.search-input:focus {
    outline: none;
    border: 1px solid rgba(0, 162, 255, 0.5);
    background-color: rgba(0, 162, 255, 0.25);
    transition-duration: 250ms;
}

.button-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 32px;
    border: 1px solid var(--default-border-color);
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    transition-duration: 250ms;
    cursor: pointer;
    background-color: var(--default-background-color);
}

.button-search:hover {
    background-color: var(--default-accent-color);
}

.button-export {
    width: 118px;
    height: 32px;
    margin-right: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 162, 255, 0.5);
    background-color: rgba(0, 162, 255, 0.25);
    cursor: pointer;
    transition-duration: 250ms;
}

.button-export:hover {
    filter: brightness(0.95);
}

.button-export:active {
    transform: scale(0.9);
}

.fa {
    opacity: 0.75;
}

.button-export-text {
    font-size: 13px;
    opacity: 0.75;
    color: var(--default-text-color);
}

.default-text {
    color: var(--default-text-color);
    font-size: 14px;
}

.tables-menu-item {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition-duration: 250ms;
    cursor: pointer;
}

.tables-menu-item:hover {
    background-color: var(--default-accent-color);
    transition-duration: 250ms;
}

.main-table {
    width: 100%;
    border-spacing: 0;
}

td {
    padding: 10px;
    border-right: 1px solid var(--default-border-color);
    border-bottom: 1px solid var(--default-border-color);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    background-color: var(--default-accent-color);
    color: var(--default-text-color);
}

.table-header {
    background-color: var(--default-accent-color);
}

tr {
    background-color: var(--default-background-color);
}

.main-table-cell {
    color: var(--default-text-color);
    text-align: start;
}

.selected-entry {
    background-color: #268ce5;
}
  
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

dialog {
  border: none;
  padding: 0;
  background-color: var(--default-background-color);
  backdrop-filter: blur(10px);
  transform: translateY(-20px);
  position: fixed;
  z-index: 2;
  margin: auto;
  width: 380px;
  border: 1px solid var(--default-border-color);
  border-radius: 10px;
  overflow: hidden;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid var(--default-border-color);
}

.dialog-header svg {
  position: absolute;
  right: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 250ms;
}

.dialog-header svg:hover {
  opacity: 1;
}

.dialog-container {
  width: 380px;
  height: fit-content;
  border-bottom: 1px solid var(--default-border-color);
}

.dialog-container .default-input {
  width: 350px;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--default-border-color);
  color: var(--default-text-color);
  height: 40px;
  transition-duration: 250ms;
}

.dialog-container .alternative-input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  padding: 15px 10px;
  color: var(--default-text-color);
}

.dialog-container .alternative-input-container {
    display: inline-flex;
    align-items: center;
    width: 365px;
    padding-left: 15px;
    border-bottom: 1px solid var(--default-border-color);
}

.alternative-input-container svg {
    opacity: 0.5;
}

.alternative-input:disabled {
    opacity: 0.5;
}

.play-radio-container:active {
  transform: scale(0.9);
}

.dialog-container button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.no-padding {
  padding: 0;
}

.no-border-bottom {
  border-bottom: none;
}

.dialog-footer {
  display: inline-flex;
  padding: 15px;
  width: 350px;
}

.dialog-footer-button {
  background-color: var(--default-background-color);
  color: var(--default-secondary-text-color);
  border: 1px solid var(--default-border-color);
  border-radius: 8px;
  height: 40px;
  width: 170px;
}

.action-button {
  background-color: #268ce5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: white;
}

button {
  transition-duration: 250ms;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  filter: brightness(0.95);
}

.website-info {
    width: 360px;
    margin-top: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    user-select: none;
    padding: 10px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(28px);
}

.creator-info {
    margin-left: 5px;
    display: flex;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.05);
    padding: 4px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition-duration: 500ms;
}

.creator-info:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;
}

.website-info-animation {
    transform: translateY(0px);
    opacity: 1;
    transition-duration: 500ms;
}

.menu-inner-animation {
    transform: translateY(0px);
    transition-duration: 500ms;
}

textarea {
  display: block;
  width: 318px !important;
  height: 50px;
  resize: none;
  font-family: Roboto, sans-serif;
  text-align: start !important;
  font-size: 14px !important;
}

textarea::placeholder {
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.sorttable-label {
    font-size: 12px;
    border: 1px solid var(--default-border-color-solid);
    padding: 1px 4px;
    margin-left: 5px;
    color: var(--default-semi-transparent-text-color);
    border-radius: 4px;
    user-select: none;
}

[popover],
dialog,
::backdrop {
  transition:
    display 250ms allow-discrete,
    overlay 250ms allow-discrete,
    transform 250ms,
    opacity 250ms;
  opacity: 0;
}

:popover-open,
:popover-open::backdrop,
[open],
[open]::backdrop {
  opacity: 1;
}

[open] {
  transform: translateX(0px);
}

@starting-style {
  :popover-open,
  :popover-open::backdrop,
  [open],
  [open]::backdrop {
    opacity: 0;
  }

  dialog {
    transform: translateY(25px) !important;
  }
}

@layer demo.support {
  html {
    color-scheme: dark light;
  }
}

@media screen and (max-device-width: 768px) {
    .tables-main-container {
        display: flex;
        flex-direction: column;
    }

    .left-main-container {
        display: inline-flex;
        position: absolute;
        width: 100%;
        border-top: 1px solid var(--default-border-color);
        height: 50px;
        padding: 0;
        bottom: 0;
        z-index: 10;
    }

    .left-main-container div {
        margin: 0;
    }

    .tables-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }

    .left-main-container span {
        display: none;
    }

    .left-header {
        border-right: 0;
    }

    .right-header {
        display: none;
    }

    .right-main-container {
        position: absolute;
        top: 60px;
        height: calc(100% - 110px);
        width: 100%;
        overflow-x: scroll;
    }

    tr td:last-child {
        display: none;
    }
}


@media screen and (max-device-width: 375px) {
    .menu-inner {
        width: 280px;
    }

    .description-container {
        width: 240px;
        display: inline-flex;
        align-items: center;
    }

    dialog {
        width: 330px;
    }

    dialog div {
        width: 300px !important;
    }

    dialog input {
        width: 278px !important;
    }
}